/* ********** ********/
/* **MAIN-NAV SECTION */
/* ******************** */

.header {
  position: relative;
}

.main-nav {
  background-color: rgba(255, 0, 0, 0.97);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.main-nav-list {
  flex-direction: column;
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #000;
  transform: scale(1.1);
}

/* NAV MOBILE BUTTON */
.btn-mobile-nav {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
  z-index: 9999;
  background-color: transparent;
}

.icon-mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
  color: #fff;
}

/* ********** */
/* **HERO SECTION */
/* *************** */
.hero-section {
}

.hero-container {
  margin: 0 auto;
  max-width: 100%;
  background-color: black;
  padding: 3.6rem 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-textbox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: all 0.5s ease-in;
  padding: 0 2.4rem;
}

.hero-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-bottom: 3rem;
}

.hero-btn:link,
.hero-btn:visited {
  display: inline-block;
  width: 300px;
  background-color: #ff0000;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem;
  cursor: pointer;
  border-radius: 9px;
  transition: all 0.3s;
  align-self: center;
  /* text-transform: uppercase; */
}

.hero-btn:hover,
.hero-btn:active {
  background-color: #ff3333;
}

/* ************ */
/* **ABOUT ME*** */
.about-me-section {
  padding: 3.6rem 2.4rem 0;
  margin-bottom: 4.8rem;
}

.about-me-container {
  margin: 0 auto;
  max-width: 100rem;
  padding: 3.6rem 2.4rem;
  height: 100vh;
}

.about-me-description {
  padding-bottom: 2rem;
  border-bottom: 1px solid #ffe6e6;
}

.about-me-title {
  font-size: 1.8rem;
  color: #444;
  font-weight: 600;
  margin-bottom: 3.6rem;
}

.about-me-textbox {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 4.8rem;
}

.tools-list-container {
  padding: 0;
  /* max-width: 45rem; */
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

.tools-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.tools-icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #ff0000;
  transition: all 0.3s;
}

.tools-icon:hover {
  transform: scale(1.2);
}

.projects-btn:link,
.projects-btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  background-color: #000;
  padding: 1.2rem 2.4rem;
  list-style: none;
  text-decoration: none;
  width: 100%;
  align-self: center;
  text-align: center;
  border-radius: 9px;
  transition: all 0.3s;
}
.projects-btn:hover,
.projects-btn:active {
  color: #fff;
  background-color: #ff0000;
}
/* ******************** */
/* PROJECT SECTION */
/* ********************* */
.project-section {
  padding: 3.6rem 2.4rem;
  margin-bottom: 3.6rem;
}

.project-container {
  margin: 0 auto;
  max-width: 100rem;
  padding: 3.6rem 2.4rem;
  grid-template-columns: 1fr;
  gap: 4rem;
}

.figure-container-grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

.figure-container {
  display: flex;
  flex-direction: column;
  padding: 2.4rem 1.2rem;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
}

.figure-textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.figure-description {
  margin-bottom: 4.4rem;
  line-height: 1.6;
}

.figure-tools {
  font-size: 1.6rem;
  font-weight: 600;
}

.figure-tools-list {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
}
.icon-img {
  transition: all 0.3s;
}

.icon-img:hover {
  transform: scale(1.2);
}
/* ***************** */
/* ****CTA-SECTION** 
/* *******************/
.cta-section {
  padding: 0 2.4rem 2.4rem;
}

.cta-container {
  max-width: 100rem;
  /* height: 100vh; */
  margin: 0 auto;
}

.cta-form {
  margin-top: 3.6rem;
  display: grid;
  grid-template-columns: 1fr;
  padding: 3.6rem 2.4rem;
  border-radius: 1.2rem;
  border: 3px solid #ff0000;
  box-shadow: 0 1.6rem 3.2rem rgba(0, 0, 0, 0.2);
}

h3.tertiary-cta {
  font-weight: 600;
}

.cta-description {
  font-size: 1.6rem;
  color: #333;
  text-align: center;
  margin-bottom: 2rem;
}

.input-field label,
.input-field input {
  display: block;
  padding: 1.2rem;
  width: 100%;
  border-radius: 0.9rem;
  border: none;
  outline: none;
  font-family: inherit;
}

.input-field label {
  padding-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.input-field input {
  font-size: 1.6rem;
  color: #333;
  background-color: #eee;
  transition: all 0.15s;
}
.textarea:focus,
.input-field input:focus {
  box-shadow: inset 0 0 3px #ff0000;
}

.textarea {
  font-family: inherit;
  font-size: 1.6rem;
  background-color: #eee;
  border-radius: 0.9rem;
  border: none;
  padding: 1.2rem;
  outline: none;
  resize: none;
  transition: all 0.3s;
  height: 100px;
  width: 100%;
}

.input-field input::placeholder,
.input-field label::placeholder,
.textarea::placeholder {
  color: #767676;
}

.btn {
  margin-top: 2rem;
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1.2rem 2.4rem;
  width: 100%;
  height: 5rem;
  border-radius: 0.9rem;
  background-color: #000;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  transition: all 0.3s;
}

.btn-container {
  justify-self: center;
  align-self: center;
  width: 100%;
  margin-bottom: 2.4rem;
}

.btn:hover {
  background-color: #ff0000;
  color: #fff;
}

.contact-me-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #ff0000;
  transition: all 0.3s;
}

.contact-icon:hover,
.contact-icon:active {
  color: #ff3333;
  transform: scale(1.2);
}

.svg-icon-tool {
  height: 4.8rem;
  width: 4.8rem;
  transition: all 0.3s;
}

.svg-icon-tool:hover {
  transform: scale(1.1);
}
